*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    display: inline !important;
}

.input{
   
    padding: 5px 10px;

}
.form{
    text-align: center;
}
.form-lable{
    margin: 10px;
}

  
